<section class="base">
    <h1>Find medicine</h1>
</section>

<div class="base">       
    <input 
        type="text" 
        class="base-element" 
        [(ngModel)]="medicineName"
        placeholder="Search by medicine name"/> 

    <button 
        mat-flat-button color="primary"
        type="button" 
        (click)="searchByName()"
        class="base-element"
        >Search</button>
</div>

<div class="table-container">   
    <section>
        <table mat-table [dataSource]="foundedMedicines">
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let medicine"> {{medicine.medicineID}} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let medicine"> {{medicine.medicineName}} </td>
            </ng-container>
            <ng-container matColumnDef="Power">
                <th mat-header-cell *matHeaderCellDef> Power </th>
                <td mat-cell *matCellDef="let medicine"> {{medicine.power}} </td>
            </ng-container>
            <ng-container matColumnDef="Company">
                <th mat-header-cell *matHeaderCellDef> Company </th>
                <td mat-cell *matCellDef="let medicine"> {{medicine.companyName}} </td>
            </ng-container>
            <ng-container matColumnDef="Substances">
                <th mat-header-cell *matHeaderCellDef> Substances </th>
                <td mat-cell *matCellDef="let medicine"> {{medicine.activeSubstances}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="medicinesColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: medicinesColumnsToDisplay" (click)="getInteractions(myRowData.medicineID)"></tr>
        </table>
    </section>
</div>
<div *ngIf="interactions.length" class="table-container">   
    <section>
        <table mat-table [dataSource]="interactions">
            <ng-container matColumnDef="OriginalName">
                <th mat-header-cell *matHeaderCellDef> Original name </th>
                <td mat-cell *matCellDef="let interaction"> {{interaction.substance.name}} </td>
            </ng-container>
            <ng-container matColumnDef="TranslatedName">
                <th mat-header-cell *matHeaderCellDef> Translated name </th>
                <td mat-cell *matCellDef="let interaction"> {{interaction.substance.selectedLanguageName}} </td>
            </ng-container>
            <ng-container matColumnDef="InteractionLevel">
                <th mat-header-cell *matHeaderCellDef> Interaction level </th>
                <td mat-cell *matCellDef="let interaction"> {{interaction.interactionName}} </td>
            </ng-container>
            <ng-container matColumnDef="InteractionDescription">
                <th mat-header-cell *matHeaderCellDef> Interaction description </th>
                <td mat-cell *matCellDef="let interaction"> {{interaction.interactionDescription}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="interactionsColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: interactionsColumnsToDisplay"></tr>
        </table>
    </section>
</div>

